@media(max-width: 600px){
    
    p {
        max-width: 300px;
        display: flex;
        text-align: center;
    }

    h1 {
        font-size: 26px;
        max-width: 100%;
    }
    
    h1 span {
        flex: block;
    }

    h2 {
        padding: 0px 0px 2px 0px;
    }

    .menu{
        
       gap: 15px;
       margin-right: 8px;
        
    }

    .logo{
        font-size: 15px;
        margin-left: 8px;

    }

    .logo h1{
        font-size: 20px;
    }

    

    .menu p{
        font-size: 13px;
    }

    .login{
        padding: 4px 24px;
    }

    
    .bloco{
        flex-wrap: wrap;
        text-align: center;
        gap: 30px;
        margin-top: 40px;
        
    }

    .bloco1 .bloco{
        flex-direction: column-reverse;
    }
    
    
    .imagem{
        padding: 20px 20px 0px 20px;
    }

    .imagem img{
        width: 200px;
    }

    
    .texto{
        max-width: 90%;
        margin: auto;
    }

    

   
    .artistas{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .card img{
        width: 250px;
    }

    
    .footer{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding:60px 10px;
        
    }

    .coluna {
        width: 30%;
    }

    .coluna p{
        font-size: 13px;
    }

    .coluna h3 {
        font-size: 13px;
    }

    .icones{
        margin-left: 35%;
    }

    .musicas img{
        margin-top: 10%;
    }


}
