@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


h1{
    font-size: 30px;
    font-weight: 500;
}

p{
    font-size: 12px;
    line-height: 1.5;
}

body{
    background-color: #0C0C23;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.cabecalho {
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    
    
}

.cabecalho h1{
    color: #00ffff;
}


.fone{
    color: #00ffff;
    
    
}

.menu{
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 30px;
    
}

.login{
    color: #00ffff;
    border: 1px solid #00ffff;
    padding: 8px 30px;
    border-radius: 10px;
}

.bloco{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

h1 span{
    color: #00ffff;

}

.texto{
    max-width: 430px;
    text-align: center;
    
}

.imagem{
    border: solid hsla(287, 44%, 21%, 0.418);
    background-color: hsla(287, 44%, 21%, 0.418);
    border-radius: 80px 0;
    padding: 0px 80px;
}

.botao {
    background: transparent;
    color: #00ffff;
    border: 2px solid #00ffff;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.botao:hover {
    background: #00ffff;
    color: #1b0f3b;
}

.icone {
    font-size: 14px;
}

.musicas{
    padding: 60px 80px;
    color: white;
}

.musicas h1{
    margin-bottom: 40px;
}

.artistas{
    display: flex;
    justify-content: center;
    gap: 250px;
}

.card{
    text-align: center;
}

.card img{
    width: 300px;
    border-radius: 40px 0 40px 0;
}

.card h1{
    font-size: 35px;
}

.card p{
    font-size: 20px;
    color: #cfcfcf;
}

.footer{
    color:white;
    display:flex;
    justify-content:flex-start;
    gap: 60px;
    padding:60px 50px;
}

.coluna h3{
    font-size:16px;
    margin-bottom:15px;
}

.coluna p{
    font-size:14px;
    margin:6px 0;
    color:#cfcfcf;
    cursor:pointer;
}

.coluna p:hover{
    color:#00d4ff;
}